paper_tennantite.aux
paper_tennantite.bbl
paper_tennantite.blg
paper_tennantite.log
paper_tennantite.out
paper_tennantite.spl
yaroslavzev_tennantite.zip
tmp.out

SM/paper_tennantite.aux
SM/paper_tennantite.bbl
SM/paper_tennantite.blg
SM/paper_tennantite.log
SM/paper_tennantite.out
SM/paper_tennantite.spl
SM/yaroslavzev_tennantite_sm.zip
SM/tmp.out

tmp